@em : 1em;

html, body {
	font-size: 1*@em;
}

.lista-datos{
	display: table;
	border: 0;
	border-left: 1px solid #555;
	border-top: 1px solid #555;
	.fila {
		display: table-row;
		&.par{
			background-color: #f7f7f7;
		}
		&.encabezado {
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			background-color: #ccc;
		}
		.celda {
			display: table-cell;
			padding: .7*@em;
			border-right: 1px solid #555;
			border-bottom: 1px solid #555;
		}
	}
}