html,body{font-size:1em}
.lista-datos{display:table;border:0;border-left:1px solid #555;border-top:1px solid #555}.lista-datos .fila{display:table-row}.lista-datos .fila.par{background-color:#f7f7f7}
.lista-datos .fila.encabezado{font-weight:bold;text-align:center;text-transform:uppercase;background-color:#ccc}
.lista-datos .fila .celda{display:table-cell;padding:.7em;border-right:1px solid #555;border-bottom:1px solid #555}
